@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DED5CA;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    color: white;
}

#logo {
    font-weight: 900;
    font-family: 'Xanh Mono', monospace;
   font-style: italic;
   font-size: 29px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 10px;
}


#landingpage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: -57px;
}

#landtext,
#landimg {
    width: 50%;
    height: 100%;

}

#landimg {
    background-image: url("./Clothing1new");
    background-size: cover;
    background-position: 10px 10px;
    background-repeat: no-repeat;

}

#landtext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 200px;

}

#fashion {
    font-size: 30px;
    font-weight: 200;
    margin: 30px;
    padding-top: 70px;

}

#provide {
    font-size: 60px;
    margin: 30px;
}

#vm {
    border: 1px solid white;
    padding: 10px;
    width: 200px;
    font-size: 30px;
    font-weight: 200;
    text-decoration: none;
    color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#collection {
    font-size: 30px;
    margin: 30px;
}


#landt {
    display: flex;
    flex-direction: row;
}

.land {
    margin: 20px;

}

#bestsold{
    width: 100%;
    height: 100vh;
}
 